body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 95%;
    height: 90%;
    overflow: hidden;
}

.form-container {
    width: 20%;
    text-align: center;
    padding-right: 20px;
    overflow-y: auto;
}

.preview-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    overflow: hidden;
}

.preview-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
}

.student-data-container {
    display: flex;
}

.student-data-left, .student-data-right {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    overflow-y: auto;
}

.student-data-left {
    border-right: none;
}

.student-data textarea {
    width: 100%;
    resize: none;
    overflow: hidden;
}

.preview-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
}

.preview-item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.preview-item iframe {
    width: 100%;
    height: 500px;
    object-fit: contain;
    border: none;
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    background: #fff;
    border-top: 1px solid #ccc;
}

.pagination-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin: 2px;
}

.pagination-button:hover {
    background-color: #0056b3;
}

.pagination-button.active {
    background-color: #0056b3;
    cursor: default;
}

.section {
    margin-bottom: 30px;
    padding: 15px;
    border-radius: 5px;
}

h2 {
    margin-bottom: 10px;
}

.required h2 {
    color: #000;
}

.optional {
    background-color: #f0f0f0;
    margin-top: 20px;
}

.optional h2 {
    color: #000;
}

label {
    display: block;
    margin-bottom: 5px;
}

.file-input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 15px;
}

.date-inputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.date-input {
    flex: 1;
    text-align: left;
    margin-right: 10px;
}

.date-input:last-child {
    margin-right: 0;
}

.graduation-input {
    margin-bottom: 20px;
    text-align: left;
}

button {
    padding: 10px 20px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    background-color: #0056b3;
}

button.preview {
    background-color: #838b85;
}

button.preview:hover {
    background-color: #6c757d;
}

.background-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#BackgroundName {
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.reset-button {
    padding: 5px 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    margin-left: 10px;
    flex-shrink: 0;
}

.reset-button:hover {
    background-color: darkred;
}

.progress-bar-container {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 25px;
    margin-top: 20px;
    overflow: hidden;
}

.progress-bar {
    width: 0;
    height: 30px;
    background-color: #007bff;
    text-align: center;
    line-height: 30px;
    color: white;
    border-radius: 25px;
    transition: width 0.4s;
}

#progressText {
    position: relative;
}

.hidden {
    display: none;
}
